{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static "img/abc.jpg" %}" alt="">
            </div>
        </div>
        <div style="word-break: break-all;" class="col-8">
            {{ answer.text_answer }}
            <div class="form-check" style="margin-top: 40px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Correct!
                </label>
            </div>
        </div>
    </div>
</div>